<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        background: linear-gradient(to right, #d7d2cc, #304352); /* Gradient background */
      }
    </style>
  </head>
  <body class="font-sans bg-gradient-to-r from-[#d7d2cc] to-[#304352]">
    {% include "exam/navbar.html" %}
    
    <div class="flex items-center justify-center min-h-screen">
      <div class="bg-[#212529] text-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-3xl font-semibold text-center mb-6">Student Login Panel</h1>

        <form method="post" class="space-y-6">
          {% csrf_token %}

          <!-- General Errors (e.g., '__all__') -->
          {% if form.non_field_errors %}
            <div class="bg-red-600 text-white p-4 rounded-md my-4">
              <ul>
                {% for error in form.non_field_errors %}
                  <li class="text-sm">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <!-- Username Field -->
          <div class="space-y-2">
            {% if form.username.errors %}
              <div class="bg-red-600 text-white p-2 rounded-md my-2">
                {% for error in form.username.errors %}
                  <p class="text-sm">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            {% render_field form.username class="w-full p-3 text-center text-lg rounded-md border-2 border-gray-500 bg-transparent text-white focus:outline-none focus:ring-2 focus:ring-[#4caf50]" autocomplete="off" placeholder="Username" %}
          </div>
          
          <!-- Password Field -->
          <div class="space-y-2">
            {% if form.password.errors %}
              <div class="bg-red-600 text-white p-2 rounded-md my-2">
                {% for error in form.password.errors %}
                  <p class="text-sm">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            {% render_field form.password class="w-full p-3 text-center text-lg rounded-md border-2 border-gray-500 bg-transparent text-white focus:outline-none focus:ring-2 focus:ring-[#4caf50]" autocomplete="off" placeholder="Password" %}
          </div>

          <!-- Login Button -->
          <div class="flex justify-center">
            <button type="submit" class="w-full py-3 text-lg font-semibold text-white bg-[#4caf50] rounded-md hover:bg-[#347736] transition duration-300">Login</button>
          </div>
          <div class="flex justify-center">
            <a href="{% url 'forgot_password2' %}" class="text-green-500 hover:text-green-600">Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>

    {% include "exam/footer.html" %}
  </body>
</html>
